<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trip Happens</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Include the header partial -->
  {{> header}}
  <!-- Want the logo of Travel Happens at the top of the page-->
  <div>
    <img src="../../public/images/triphappens.png" alt="Travel Happens logo plane flying around the globe">
  </div>

<!-- Add Description of Website-->
  <div class="description">
    <h2>Welcome to Trip Happens!</h2>
    <p>Traveling has always been a popular activity, whether for leisure, business, or exploration. However, planning a trip can often be time-consuming and overwhelming, requiring coordination of various aspects such as flights, accommodations, transportation, activities, and budgets. In the past, travelers relied heavily on travel agents, guidebooks, and word-of-mouth recommendations to plan their trips. Now with Trip Happens, you can select Countries, Cities, Places to visit, and more.  From there, we will generate an itinerary just for you that will include the cost of the trip.</p>
  </div>
 <!-- <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>-->
 
  <!--Video Walkthrough -->
  <div class="video">
    <!--Insert video here-->
  </div>

  <!-- Sign up -->
  <div class="register">
    <h2>Ready for your next trip? Register below to get started.</h2>
      {{> register}}
  </div>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  
  {{/if}}


 <footer>
      
  </footer>

</body><script src="/js/logout.js"></script>

</html>
